doctype html
html
  head
    title Vaibhav dance academy 
    style
      include ../static/style.css
  body
    nav#navbar 
      ul 
        div#logo
            img(src="../static/images/logo2.jpg")
            | HDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info ]
        li #[a(href="/") Contact us ]

    section#introSection
      div.large Welcome to my dance acaedmy 
      div.small Eat sleep dance repeat 

    section#missionSection 
      h1 Our Mission 
      div.card 
         h3 Dance perfection
         div.card-box
            div.card-img
                img(src="../static/images/1.png")  
            div.card-content 
                p This is the best dance academy of the world                
      div.card 
         h3 Dance the way you like 
         div.card-box
            div.card-img
                img(src="../static/images/2.png")  
            div.card-content 
                p This is the best dance academy of the world 
      div.card 
         h3 Expert learning 
         div.card-box
            div.card-img
                img(src="../static/images/3.png")  
            div.card-content 
                p This is the best dance academy of the world        

    section#sponsorsSection 
      h1 Our Sponsors 
      div#sponsors
         img(src="../static/images/a.png", alt="Sponsor Image" class="spImage")
         img(src="../static/images/b.png", alt="Sponsor Image" class="spImage")
         img(src="../static/images/c.png", alt="Sponsor Image" class="spImage")
         img(src="../static/images/d.jpg", alt="Sponsor Image" class="spImage")

    footer#footer 
      | Copyright © 2019 VaibhavDanceAcademy.com | All right reserved         
    script
      include ../static/index.js
